h1{
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
}

h2{
    font-style: italic;
    font-size: 50px;
    color: #59098e;
}

h3{
    font-family: "indie flower";
    font-size: 35px;
    color: rgb(0, 100, 255);
}

h4{
    font-weight: 100;
    font-size: 40px;
    line-height: 2;
    letter-spacing: 10px;
}