h1{
    color: rgb(255, 0, 0);
}

h2{
    color: rgb(0, 255, 0);
}

h3{
    color: #00f;
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h4{
    background-color: rgba(0, 0, 255, .5);
}

h5{
    background-color: rgba(243, 190, 91, .5);
}